<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ПКССМ</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <div id="app">
        <div class="main">
            <div class="pictureandname">
                <div class="namecase">
                    <div class="name">
                        <p>Подпольный Клуб Супер Сексуальных Мужиков (ПКССМ)</p>
                    </div>
                    <div class="nameinfa">
                        Ты наверно думаешь что же за хуйня этот ваш ПКССМ?
                        Так вот, хуйня это могила твоего мертвого бати,
                            а ПКССМ это ахуительный сервер для натуральных геев и гейских натуралов где можно попросить админа
                            зарейдить какую нибудь шкилярную помойку в майнкрафте бесплатно без смс и регистрации
                    </div>
                    <form>
                        <input class="inv" type="button" onclick="redirect();" value="Присоединиться"/>
                    </form>
                </div>
                <img class="pimg" src="pngs/5opkavahue.jpg" width="500" height="300">
            </div>

            <div class="line"></div>

            <div class="events">
                <div class="subdsection">
                    <img class="subimg" src="darkThemeSwitch/sun.jpg" width="32" height="32">
                    <p class="subtitle">События сервера:</p>
                </div>
                <div class="sectext">
                    <p v-for="event in events">{{event.date}} - {{event.event}}</p>
                    
                </div>
            </div>

            <div class="line"></div>

            <div class="sections">
                <div class="section">
                    <div class="subdsection">
                        <img class="subimg" src="interactiveMinecraftWorld/textures/bedrock.png" width="32" height="32">
                        <p class="subtitle">Почему ты обязан зайти к нам:</p>
                    </div>
                    <div class="sectext">
                        <ul id="list">
                            <li>бесплатные рейды</li>
                            <li>прога для рейда(без вирусов 1488% атвечаю очком)</li>
                            <li>тролим школоту по кд</li>
                            <li>админам 10 лет</li>
                            <li>очень много срачей</li>
                            <li>есть своя личная шлюха(умерла)</li>
                            <li>секс сиськи тачки админки хуинки</li>
                        </ul>
                    </div>
                </div>

                <div class="section">
                    <div class="subdsection">
                        <img class="subimg" src="interactiveMinecraftWorld/textures/dirt.png" width="32" height="32">
                        <p class="subtitle">Прошмандовки ПКССМ:</p>
                    </div>
                    <div class="sectext">
                        <div class="dcprofilemodel">
                            <img id="profileicon" src="https://cdn.discordapp.com/avatars/929815619770122270/42591fe31fbaf07db5e0a9546a598576.webp?size=40" onError="this.src='pngs/cantload.png'">
                            <p class="nickname">robertkamar404#1510</p>
                        </div>
                        <div class="dcprofilemodel">
                            <img id="profileicon" src="https://cdn.discordapp.com/avatars/952256354326839356/a7e51bd6fd4ab79b37afb47822568868.webp?size=40"  onError="this.src='pngs/cantload.png'">
                            <p class="nickname">Вор Володя Плутин#7413</p>
                        </div>
                        <div class="dcprofilemodel">
                            <img id="profileicon" src="https://cdn.discordapp.com/avatars/922464194211770428/e2d515d5e63a256449f1c7a080b28644.webp?size=40" onError="this.src='pngs/cantload.png'">
                            <p class="nickname">Hearless#6429</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="line"></div>

            <div class="popjopi">
                <div class="pjtitle">
                    <p>Список популярных жоп сервера (из тех кто есть на пкссм)</p>
                </div>
                
                <div class="profiles">
                    <div class="dcprofile" v-for="pj in popjopi">
                        <div class="dcprofilemodel">
                            <img :src="` ${ pj.ava } `" id="profileicon" onError="this.src='pngs/cantload.png'"/>
                            <p class="nickname"> {{ pj.nick }} </p>
                        </div>
                        <p class="profiledescription"> {{ pj.description }} </p>
                    </div>
                </div>
            </div>

            <div class="line"></div>

            <div class="downground">
                <p class="pjtitle">Вопросы и ответы</p>
                <div class="dgsection">
                    <p id="question"> - Вы задудосили мой сервер по майнкрафту, я хочу кинуть на вас репорт</p>
                    <p id="answer"> - Иди нахуй шлюха ебаная. Рейды в майне легальны, тебе откажут</p>
                </div>

                <div class="dgsection">
                    <p id="question"> - Я ссу что в вашей проге вирусы. Какие гарантии что она чистая?</p>
                    <p id="answer"> - Мы ее сами юзаем, можешь прочекать на вирустотале + есть опенсурс</p>
                </div>

                <div class="dgsection">
                    <p id="question"> - Можете зарейдить дискорд сервер одних пидарасов пж?</p>
                    <p id="answer"> - Нет, иди нахуй, мы таким не занимаемся больше</p>
                </div>

                <div class="dgsection">
                    <p id="question"> - Я вас по айпи вычислю</p>
                    <p id="answer"> - Пон</p>
                </div>

                <div class="dgsection">
                    <p id="question"> - Сервер блокнули и удалили и мою учетку тоже, я немогу вас найти, че делать?</p>
                    <p id="answer"> - Можно просто подождать, я обновлю ссылку на сайте как только узнаю о блокировке сервера, ну или вот список моих твинков:
                        <br>vk: @p1zdec_rp_tvink</br><br>discord:</br><br>* faded#3565</br><br>* pizdecc nrp#2103</br><br>* report me pls#8638</br><br>* biba.sos#2065</br>
                    </p>
                </div>
            </div>

            <div class="line"></div>

            <iframe class="discordframe" src="https://discord.com/widget?id=1015980011041329164&theme=dark" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
            
            <div class="line"></div>
            
            <div class="copyrights">
                <p>© 2020-2022 bsdo-pkssm. All rights not reserved</p>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="main.js"></script>
</html>
