body {
    background-color: dimgray;
}
.main {
    background: url("interactiveMinecraftWorld/textures/white_wool.png");
    background-size: 20px;
    position: static;
    border-color: dimgray;
    transition: 1s;
    top:10px;
    bottom: 0px;
    left: 10px;
    right: 10px;
    margin-bottom: 20px;
    padding: 150px;
}
.main.night {
    background: url("interactiveMinecraftWorld/textures/black_wool.png");
}
.cap {
    background-color:darkslategray;
    width: 100%;
    height: 80px;
    position: fixed;
    left: 0px;
    top: 0px;
}
.name {
    color:crimson;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: static;
    left: 10%;
    right: 10%;
    top: 40px;
    font-size: xx-large;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width:fit-content;
    height: fit-content;
}
.description {
    color:black;
    position: static;
    top: 40%;
    background-color: rgb(249, 249, 249);
    border-radius: 10px;
    text-align: center;
    margin-bottom: 10px;
    transition: 1s;
}
.description.night {
    color:antiquewhite;
    background-color:rgb(36, 36, 36);
}
.description2 {
    color:black;
    position: static;
    top: 40%;
    background-color: rgb(249, 249, 249);
    border-radius: 10px;
    text-align: center;
    margin-bottom: 10px;
    transition: 1s;
}
.description2.night {
    color:antiquewhite;
    background-color:rgb(36, 36, 36);
}
.inv {
    text-decoration: none;
    position: fixed;
    border-radius: 5px;
    background-color: green;
    color:aliceblue;
    text-align: center;
    font-size:larger;
    width: 150px;
    height: 25px;
    right: 50px;
    top: 30px;
}




.theme {
    background-color: lightslategray;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 30px;
    height: 20px;
    width: 130px;
    position: fixed;
    top: 15px;
    left: 70%;
}

.circle {
    border-radius: 100%;
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    top: 5px;
    left: 6px;
    
    background-image: url("darkThemeSwitch/sun.jpg");
    background-color: rgb(84, 94, 104);
    background-size: 30px;
    background-position-x: 50%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    transition: all 0.5s ease 0s;
}

.circle.night {
    transform: translate(270%,0);
    background-image: url("darkThemeSwitch/moon.jpg");
}