body {
    background-color: dimgray;
}
.main {
    background: url("interactiveMinecraftWorld/textures/white_wool.png");
    background-size: 60px;
    position: static;
    border-color: dimgray;
    transition: 1s;
    top:10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 50px;
}
.main.night {
    background: url("interactiveMinecraftWorld/textures/black_wool.png");
}
.cap {
    background-color:darkslategray;
    width: 100%;
    height: 80px;
    position: fixed;
    left: 0px;
    top: 0px;
}
.name {
    color:crimson;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: static;
    left: 10%;
    right: 10%;
    top: 40px;
    font-size: 60px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width:fit-content;
    height: fit-content;
}
.description {
    color:black;
    position: static;
    top: 40%;
    background-color: rgb(249, 249, 249);
    border-radius: 10px;
    text-align: center;
    margin-bottom: 10px;
    padding: 2px;
    text-indent: 50px;
    transition: 200ms;
    font-size: 25px;
}
.description.night {
    color:antiquewhite;
    background-color:rgb(36, 36, 36);
}

.inv {
    text-decoration:solid;
    position: fixed;
    border-radius: 40px;
    background-color: green;
    color:aliceblue;
    text-align: center;
    font-size: 28px;
    /*width: 230px;
    height: 44px;*/
    width: fit-content;
    height: fit-content;
    margin-top: 17px;
    margin-left: 5px;
}
.image {
    position: static;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    margin-bottom: 15px;
}



.theme {
    background-color: lightslategray;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 30px;
    height: 20px;
    width: 80px;
    position: fixed;
    top: 15px;
    right: 10px
}

.circle {
    border-radius: 100%;
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    top: 5px;
    left: 6px;
    
    background-image: url("darkThemeSwitch/sun.jpg");
    background-color: rgb(84, 94, 104);
    background-size: 30px;
    background-position-x: 50%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    transition: all 0.5s ease 0s;
}

.circle.night {
    transform: translate(145%,0);
    background-image: url("darkThemeSwitch/moon.jpg");
}
#dsctitle {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 37px;
    letter-spacing: 0.8px;
    word-spacing: -4.4px;
    font-weight: 400;
    text-decoration: rgb(68, 68, 68);
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
}
#dcprofile {
    position: static;
    font-family: inherit;
    background-color: rgb(43, 43, 43);
    border-radius: 10px;
    text-align: left;
    left: 10px;
    padding-bottom: 10px;
    width: fit-content;
    height: fit-content;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
}

#profileicon {
    width: 64px;
    height: 64px;
    position: static;
    border-radius: 100%;
    margin-top: 8px;
    margin-left: 8px;
}

.flexed {
    display: flex;
}

#nickname {
    position: static;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    margin-left: 0px;
    margin-right: 8px;
    color:antiquewhite;
}

#profiledescription {
    position: static;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 10px;
    color:aliceblue;
    font-size: 25px;
    margin-left: 5px;
    margin-right: 5px;
}

.capimg {
    position: fixed;
    right: 1%;
    bottom:1%;
    overflow: hidden;
}

#squaredimage {
    border-color: black;
    border-style: groove;
    border-radius: 5px;
    border-width: 5px;
}