body {
    background-color: dimgray;
}
.world {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 800px;
    position: static;
    transition: all 0.5s;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -10px;
    display: flex;
}
.world.night {
    background-color: rgb(36, 36, 36);
}
.bckgcard {
    background-color: lightslategray;
    padding: 15px;
    border-radius: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 20px;
    width: 130px;
    position: absolute;
    margin-top: 15px;
    margin-left: 3%;
}

.circle {
    border-radius: 100%;
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    top: 5px;
    left: 6px;
    
    background-image: url("sun.jpg");
    background-color: rgb(84, 94, 104);
    background-size: 30px;
    background-position-x: 50%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    transition: all 0.5s ease 0s;
}

.circle.night {
    transform: translate(270%,0);
    background-image: url("moon.jpg");
}

.box {
    background-color:#dde2e8;
    border-radius: 10px;
    margin-top: 100px;
    margin-left: 5%;
    margin-right: 5%;
    width: 800px;
    padding-top: 30px;
    height:fit-content;
    transition: all 0.5s;
}
.box.night {
    background-color: #454545;
}

.titlebox {
    background-color: #1ee06582;
    transition: all 0.5s;
    padding-top: 10px;
    padding-bottom: 10px;
}

.title {
    background-color: #00c907;
    border-radius: 10px;
    font-size: 35px;
    margin-left: 20px;
    margin-right: 20px;
    transition: all 0.5s;
}

#ttl {
    padding-left: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.boxsection {
    margin-bottom: 10px;
}

.text {
    font-size: 20px;
    padding-left: 40px;
    padding-right: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #454545;
    transition: all 0.5s;
}

.text.night {
    color: #c8d0d8;
}

.cap {
    background-color:#454545;
    position: fixed;
    width: 99%;
    height: 80px;
    display: flex;
}